<div style="margin: 10px;display: flex;justify-content: center;">
  <div style="position: relative">
    <img #imageLeftTop
         alt=""
         src="../../assets/online.png"
         style="position: absolute; height: 60px; width: 50px;">
    <img #imageLeftBottom
         alt=""
         src="../../assets/online.png"
         style="position: absolute;height: 60px; width: 50px;">
    <img #imageRightBottom
         alt=""
         src="../../assets/online.png"
         style="position: absolute;height: 60px; width: 50px;">
    <img #imageRightTop
         alt=""
         src="../../assets/offline.png"
         style="position: absolute;height: 60px; width: 50px;">
    <img #vehicle
         alt=""
         src="../../assets/vehicle.png"
         style="height: 60px;width: 120px;position: absolute;margin-top: 30px;">
    <div #divElement style="position: absolute; width: 4px; height: 4px; margin-top: 30px; border-radius: 4px;background-color: rebeccapurple">

    </div>
    <canvas #canvasElement style=" width: 1200px;height: 400px;margin-top: 30px;">
      您的浏览器不支持Canvas～！
    </canvas>
  </div>

</div>
