<div style="display: flex; justify-content: center;margin-top: 50px;margin-bottom: 5px;">
  <div style="position: relative">
    <img alt="" src="../../assets/track.PNG">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 420px;top: -30px;"
         src="../../assets/collector.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 640px;top: 90px;"
         src="../../assets/collector.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 0;top: 210px;"
         src="../../assets/collector.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 200px;top: 340px;"
         src="../../assets/collector.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 220px;top: 85px;"
         src="../../assets/vehicle-top.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 550px;top: 30px;"
         src="../../assets/vehicle-right.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 440px;top: 230px;"
         src="../../assets/vehicle-bottom.png">
    <img alt=""
         style="width: 60px;height: 60px;position: absolute;left: 60px;top: 290px;"
         src="../../assets/vehicle-left.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left: 280px;top: 80px;"
         src="../../assets/arrow-top.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left: 190px;top: 130px;"
         src="../../assets/arrow-top.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left: 514px;top: 20px;"
         src="../../assets/arrow-right.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left:620px;top: 80px;;"
         src="../../assets/arrow-right.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left: 420px;top: 275px;"
         src="../../assets/arrow-bottom.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left:515px;top: 220px;;"
         src="../../assets/arrow-bottom.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left: 35px;top: 285px;"
         src="../../assets/arrow-left.png">
    <img alt=""
         style="width: 20px;height: 20px;position: absolute;left:130px;top: 340px;;"
         src="../../assets/arrow-left.png">
  </div>
</div>
